<%- include("Header") -%>

<div class="about">
    <h1>About</h1>
    <p>Healthcare accessbility and navigation is a problem. Navigating complex websites,
      figuring out complicated medical terms and remembering scattered passwords can be overwhelming.
    </p>
    <h2>That's where Clearview Health comes in.</h2>
    <p>
        Clearview Health is a user-friendly platform designed specifically to empower seniors in managing their healthcare information. Here's how it simplifies the process:
    </p>
    <p>No complex passwords or lengthy forms. Clearview Health uses a simple, guided registration process.</p>
    <p>Large, Clear Interface: Forget tiny fonts and confusing layouts. Clearview Health utilizes a user-friendly design with large, easy-to-read text and intuitive navigation.</p>
    <p> View all lab reports, images, and medical records in one secure, organized location.</p>
</div>

<%- include("Footer") -%>
