<%- include("Header") -%>

<div class="dh-prescriptions">


  <form class="add-prescription" method="post" action="/add-prescription">
    <h2>Add a prescription</h2>
    <input type="hidden" name="patientId" value="<%=patientId%>"/>
    <input name="prescriptionName" placeholder="Medication name..."/>
    <input name="prescriptionAmount" id="prescription-amount" placeholder="(ex: mg)"/>
    <select name="prescriptionTime">
      <option value="na">Select Time</option>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="biweekly">Biweekly</option>
      <option value="monthly">Monthly</option>
      <option value="other">Other</option>
      <option value="na">N/A</option>
    </select>
    <button type="submit" class="btn btn-outline-light">Add</button>

  </form>

  <%if (prescriptionList.length == 0){%>
      <h1>No prescriptions here...</h1>
  <%}else{%>
      <h1>Prescriptions</h1>
  <%}%>
</div>

<%- include("Footer") -%>
