<%- include("Header") -%>

<div class="doctor-home">
    <h1>Welcome, Doctor</h1>
    <p><%=firstName%> <%=lastName%></p>
    <%if (patientList.length == 0){%>
        <h1>No patients yet...</h1>
    <%}%>
    <h1>Finish patient carosel</h1>
    <h1>Finish prescription dashboard</h1>
    <h1>Finish lab results/bloodwork/image upload</h1>
    <h1>Finish sending requests to accept patients</h1>
</div>

<%- include("Footer") -%>
