<%- include("Header") -%>

<div class="lph">
    <!--Empower your health journey  -->
    <h1 class="title-up-effect">Bridging the Gap in Healthcare</h1>
    <p class="title-up-effect">Clearview Health: Your health data, at your fingertips. We make doctor to patient interaction easy, especially for elders.</p>
    <div class="buttons">
      <a class="btn btn-primary" href="/about">About</a>
      <a class="btn btn-outline-primary" href="/register">Get Started</a>
    </div>
</div>

<div class="skills">

    <div class="skill-container skill-container-opacity">
        <i class="fa-solid fa-handshake"></i>
        <h2>Easy Interaction</h2>
        <p>We make it easy for doctors to interact with patients by creating a user-friendly platform</p>
    </div>

    <div class="skill-container skill-container-opacity">
        <i class="fa-solid fa-download"></i>
        <h2>Enhanced Workflows</h2>
        <p>We empower doctors to work smarter, not harder, by streamlining workflows and boosting productivity.</p>
    </div>

    <div class="skill-container skill-container-opacity">
        <i class="fa-solid fa-shield-halved"></i>
        <h2>Personalized Care</h2>
        <p>We tailor the experience to individual needs, increasing stronger doctor-patient relationships.</p>
    </div>
</div>

<div class="how-it-works">
    <h1>How it Works</h1>

    <div class="section-right">
      <div class="step-content">

        <i class="fa-solid fa-user"></i>

        <div class="text-content">
            <h2>Make/Sign in an account</h2>
            <p>We make it easy to sign up as a doctor or patient. Simply choose doctor or patient, and sign up within seconds/minutes!</p>
        </div>
      </div>
    </div>


    <div class="section-left">

      <div class="step-content">
        <i class="fa-solid fa-stethoscope mobile-icon"></i>

        <div class="text-content">
            <h2>Choose your doctor with a click of a button</h2>
            <p>It's easy to choose your doctor. Search up their ID, and confirm that they are your doctor. It doesn't get any easier than that! Text here to fill up some remaining content.</p>
        </div>
        <i class="fa-solid fa-stethoscope comp-icon"></i>
      </div>

    </div>

    <div class="section-right">
      <div class="step-content">

        <i class="fa-solid fa-gear"></i>

        <div class="text-content">
            <h2>Get Daily Updates, Fast and Secure</h2>
            <p>Updates are easily sent through the web app, ranging from lab results to medication updates. It's all fast and secure, using encryption from the latest technologies such as Bcrypt.</p>
        </div>
      </div>
    </div>

    <div class="section-left">

      <div class="step-content">
        <i class="fa-solid fa-pills mobile-icon"></i>
        <div class="text-content">
            <h2>Prescription Updates and Calendar</h2>
            <p>Clearview Health makes it easy to send prescription updates to patients, and even allows the patient to easily add pick up dates and times to take medicines in Google calendar.</p>
        </div>
        <i class="fa-solid fa-pills comp-icon"></i>
      </div>

    </div>


</div>

<div class="cta">
  <h1>What are you waiting for?</h1>
  <p>Get started today...</p>
  <a href="/register" class="btn btn-primary">Register</a>
  <a href="/login" class="btn btn-outline-primary">Login</a>

</div>

<script>
  const header = document.querySelector(".lph h1");
  const subtitle = document.querySelector(".lph p");
  setTimeout(()=>{
    header.classList.remove("title-up-effect");
    subtitle.classList.remove("title-up-effect");
  }, 250)

  const skillContainers = document.querySelectorAll(".skill-container")
  const observer = new IntersectionObserver((entries)=>{
    entries.forEach(entry=>{
      if (entry.isIntersecting){
        entry.target.classList.remove("skill-container-opacity")
      }
    })
  })

  skillContainers.forEach(e=>{
    observer.observe(e);
  })
</script>
<%- include("Footer") -%>
