<%- include("Header") -%>

<div class="lph">
    <!--Empower your health journey  -->
    <h1>Bridging the Gap in Healthcare</h1>
    <p>Clearview Health: Your health data, at your fingertips</p>
</div>

<%- include("Footer") -%>
