<%- include("Header") -%>

<div class="patient-home">
  <h1>Hello, Patient</h1>
  <p><%=firstName%> <%=lastName%></p>
  <h1>Finish sending requests to doctors</h1>
  <h1>Finish doctors list</h1>
  <h1>Finish prescriptions list</h1>
  <h1>Finish results dashboard</h1>
</div>

<%- include("Footer") -%>
