/*NAVBAR*/

.navbar-brand i{
  font-size: 3.5rem;
  transition: 0.25s color;
  margin-left: 1.5rem;
  color: white;
}

.navbar-brand i:hover{
  color: red;
}

.navbar{
  background-color: #4285F4;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 7%;
  font-family: "Montserrat", sans-serif;
}

.navbar-nav a{
  color: white;
}


.navbar form button{
  color: white;
  transition: 0.25s color;
}

.navbar form button:hover{
  color: black;
}

.navbar form input{
  margin-left: 5% !important;
  margin-right: 2% !important;
}

/*LANDING PAGE */
.lph{
  padding: 15% 18%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/landing-page-header-image.jpg");
  background-size: cover;
  background-position: bottom;
}

.lph h1{
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 2.75rem;
  transition: 1s all;
  width: 58%;
}

.title-up-effect{
  padding-top: 5%;
  opacity: 0;
}

.lph p{
  color: white;
  font-family: "Roboto Mono", sans-serif;
  margin-top: 2rem;
  transition: 1s all;
  font-size: 1rem;
  width: 58%;
}

.lph .buttons{
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

@media (max-width: 1450px){

  .lph{
    text-align: center;
  }

  .lph h1, .lph p{
    margin-left: auto;
    margin-right: auto;
  }

  .lph h1{
    width: 70%;
    font-size: 2.5rem;
  }

  .lph p{
    width: 70%;
  }
}

@media (max-width: 1200px){
  .lph h1, .lph p{
    width: 30rem;
  }
}

@media (max-width: 750px){

  .lph{
    padding: 15% 5%;
  }

  .lph h1, .lph p{
    width: 100%;
  }

  .lph h1{
    font-size: 2.25rem;
  }
}

@media (max-width: 550px){
  .lph{
    padding: 7% 2.5%;
  }

  .lph h1{
    font-size: 1.85rem;
    width: 90%;
  }

  .lph p{
    font-family: "Roboto", sans-serif;
  }
}

.skills{
  padding: 7% 5%;
  text-align: center;
}

.skill-container{
  display: inline-table;
  width: 30%;
  padding: 2%;
  transition: opacity 1s ease-in-out;
}

.skill-container-opacity{
  opacity: 0;
}

.skill-container i{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.skill-container h2{
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
}

.skill-container p{
  font-family: "Ubuntu", sans-serif;
  color: gray;
}

@media (max-width: 1660px){
  .skills{
    padding: 7% 0%;
  }
}

@media (max-width: 1500px){
  .skills h2{
    font-size: 1.85rem;
  }
}

@media (max-width: 1230px){
  .skill-container{
    width: 28rem;
    padding: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px){
  .skill-container{
    width: 90%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

/*lph HOW IT WORKS*/

.how-it-works{
  padding: 2% 0% 5% 0%;
  text-align: center;
  background-color: #4285F4;
  color: white;
}

.how-it-works h1{
  padding: 1%;
  font-size: 2.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}


.section-right, .section-left{
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*COLOR CODED*/

/* .section-right i, .section-left i{
  background-color: orange;
}

.text-content{
  background-color: yellow;
}

.section-right, .section-left{
  background-color: pink;
} */
/*COLOR CODED*/


.step-content{
  display: flex;
  align-items: center;
}

.section-right i{
  font-size: 4rem;
  margin-right: 5%;
}

.section-left i{
  font-size: 4rem;
  /* margin-left: 5%; SPACING TOO MUCH*/
}

.mobile-icon{
  display: none !important;
}


.text-content{
  text-align: left;
  width: 70%;
  /* display: inline-table; works either way??*/
}

.section-left .text-content{
  margin-left: auto;
}

.text-content h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 2rem;
  font-weight: normal;
}

.text-content p{
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
}

@media (max-width: 1350px){

  .section-left, .section-right{
    width: 70%;
  }

  /* .step-content{
    width: 70%;
  } */

  .text-content{
    margin-left: 0;
    width: 100%;
  }

  .comp-icon{
    display: none !important;
  }

  .mobile-icon{
    display: inline-block !important;
  }

  .section-left i{
    margin-right: 5%;
  }
}

@media (max-width: 1050px){
  .section-left, .section-right{
    width: 90%;
  }
}

@media (max-width: 800px){

  .step-content{
    display: block;
    margin: 2%;
  }

  .step-content i{
    margin-bottom: 1rem;
  }

  .text-content{
    text-align: center !important;
  }

  .text-content h2{
    font-weight: bolder;
    font-family: "Ubuntu", sans-serif;
  }
}

@media (max-width: 500px){
  .text-content p{
    font-size: 1rem;
    font-weight: norma;
  }

  .step-content i{
    font-size: 3rem;
  }
}


/*LPH Call to Action*/

.cta{
  padding: 7%;
  text-align: center;
}

.cta h1{
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 1.75rem;
}

.cta p{
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-bottom: 1.75rem;
}

.cta a{
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

/*Log in*/

.form-login{
  width: 30rem;
}

.form-login h2{
  font-family: "Montserrat", sans-serif;
}

.form-login input{
  padding: 5px;
  border: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
}

.form-login button{
  margin-top: 2.5rem;
  display: block;
}

/* Sign Up*/

#doctor-form-login, #patient-form-login, #introduction-register, #patient-form-register, #doctor-form-register{
  background: linear-gradient(257deg, #57caff, #5787ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-top: 2.5rem;

  color: white;
}


#introduction-register{
  width: 30rem;
}

#introduction-register button{
  font-family: "Roboto Mono", sans-serif;
  padding: 2.5%;
}

.submit-information{
  font-family: "Roboto Mono", sans-serif !important;
}

/*PATIENT FORM */
.form-register{
  width: 50rem;
}

.form-register h2{
  font-family: "Montserrat", sans-serif;
}

.form-register input{
  padding: 5px;
  border: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
}

.form-register .sbs-1{
  display: inline-block;
  width: 45%;
}

.form-register .sbs-1 input{
  width: 90%; /*90% of the 45% of the 50 rem*/
}

.form-register .sbs-1 select{
  font-size: 1.25rem;
  padding: 5px;
  border: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}

.form-register p{
  font-family: "Roboto Mono", sans-serif;
}

@media (max-width: 1050px){
  .form-register{
    width: 35rem;
  }
}

@media (max-width: 650px){
  .form-register{
    width: 90%;
  }

  .form-register h2{
    font-size: 1.25rem;
  }

  .form-register input, .form-register .sbs-1 select{
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    padding: 0;
  }

  .form-register p{
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
  }
}



/* #patient-form-register .sbs-2{
  display: inline-table;
  width: 30%;
  margin-right: 5%;
}
NOT IN USE NOT IN USE NOT IN USE
#patient-form-register .sbs-2 input{
  width: 90%;
} */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}



@media (max-width: 580px){
  .register{
    width: 90%;
  }
}

/*DOCTOR LOOK UP*/

.doctor-lookup{
  margin-top: 2.5rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}


.doctor-bubble{
  margin-top: 3.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.doctor-bubble h2{
  font-family: "Montserrat", sans-serif;
}

.doctor-bubble p{
  font-family: "Roboto Mono", sans-serif;
}

.doctor-bubble i{
  font-size: 1.5rem;
  padding: 1%;
}


/*DOCTOR HOME*/

.doctor-home{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  background-color: gray;
}


/* PATIENT HOME*/
