/*NAVBAR*/

.navbar-brand i{
  font-size: 3.5rem;
  transition: 0.25s color;
  margin-left: 1.5rem;
  color: white;
}

.navbar-brand i:hover{
  color: red;
}

.navbar{
  background-color: #4285F4;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 7%;
  font-family: "Montserrat", sans-serif;
}

.navbar-nav a{
  color: white;
}



/*LANDING PAGE */
.lph{
  padding: 7% 15%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/landing-page-header-image.jpg");
  background-size: cover;
  background-position: bottom;
}

.lph h1{
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 2.75rem;
  transition: 0.5s all;
}

.title-up-effect{
  padding-top: 5%;
  opacity: 0;
}

.lph p{
  color: white;
  font-family: "Roboto Mono", sans-serif;
  margin-top: 2rem;
  transition: 1s all;
  font-size: 1rem;
}


/* Sign Up*/


.register {
  background: linear-gradient(257deg, #57caff, #5787ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  width: 30rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-top: 2.5rem;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}



@media (max-width: 580px){
  .register{
    width: 90%;
  }
}
